name: Go Test Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      
      - name: Install dependencies
        run: |
          go get -v ./...

      - name: Vet
        run: go vet -v ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -cover -v ./...